.custom-navbar {
    width: 100%;
    background-color: #007bff; 
    padding: 0;
}
  
.navbar-brand {
    color: #fff !important;
    font-size: 1.5rem;
    white-space: nowrap;
    margin-left: 25px;
}
  
.custom-nav-link {
    color: #fff !important;
    font-size: 1.25rem;
    transition: color 0.3s ease;
}
  
.custom-nav-link:hover,
.custom-nav-link:focus,
.custom-nav-link.active {
    color: #000 !important;
}
  
.custom-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav {
    margin-right: 25px;
}

  